.table-container {
  position: relative;
  height: 300px;
  width: 500px;
  background-color: rgb(197, 133, 133);
  border-radius: 10px;
  border: 1px solid black;

  &__header {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;

    &__status {
      height: 15px;
      width: 15px;
      border-radius: 50%;
    }

    .status--active {
      background-color: rgb(85, 85, 85);
    }
    .status--inactive {
      background-color: rgb(26, 255, 0);
    }
  }

  .btn-checkin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
