@font-face {
  font-family: "PrimaryFont";
  src: url("/fonts/FasterOneRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PrimaryFontBold";
  src: url("/fonts/FasterOneRegular.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
