@use "sass:map";
@import "./variables.scss";

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.title-container {
  display: flex;
  flex-direction: column;
}

.web-title {
  font-family: PrimaryFontBold;
  font-size: 80pt;
  text-align: center;
  color: map.get($theme-color, primary);
}
